<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="{{title}}">
    <meta name="author" content="{{author}}">
    <link rel="stylesheet" href="{{assets}}/styles/style.css" type="text/css" />
    <link rel="icon" href="assets/img/favicon.ico">
    <title>{{title}}</title>
  </head>
  <body>
    <nav id="menu" class="no-display">
      <ul>
        <li>
          <span>{{menu.types}}</span>
          <ul>
            {{#each menu.filter}}
            <li>
              <span>{{this.label}}</span>
              <paper-toggle-button checked class="menu-toggle blue toggle-button_{{this.lower}}"></paper-toggle-button>
            </li>
            {{/each}}
          </ul>
        </li>
        <li>
          <span>{{menu.community}}</span>
          <ul>
            <paper-radio-group class="menu-radio-group" selected="0">
              {{#each menu.community-filter}}
                <paper-radio-button label="{{this.label}}" class="menu-radio menu-radio-community radio-button_{{this.lower}}"></paper-radio-button><br />
              {{/each}}
            </paper-radio-group>
          </ul>
        </li>
        <li>
          <span>{{menu.target-group}}</span>
          <ul>
            <paper-radio-group class="menu-radio-group" selected="0">
              {{#each menu.target-group-filter}}
                <paper-radio-button label="{{this.label}}" class="menu-radio menu-radio-target-group radio-button_{{this.lower}}"></paper-radio-button><br />
              {{/each}}
            </paper-radio-group>
          </ul>
        </li>
        <li><a href="#" class="menu-about">{{menu.about}}</a></li>
      </ul>
    </nav>
    <div class="wrapper">
      <core-header-panel>
        <core-toolbar class="core-narrow">
          <paper-icon-button class="menu-button" icon="menu"></paper-icon-button>
          <span class="aicbr-logo"></span>
          <span class="toolbar-header" flex>{{header}}</span>
          <paper-icon-button class="search-button" icon="search"></paper-icon-button>
        </core-toolbar>
        <div class="geocoder"></div>
        <div id="map" class="custom-popup"></div>
        <div id="feature-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="feature-modal" aria-hidden="true">
          <div class="modal-dialog modal-lrg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="modal-close" aria-hidden="true">&times;</button>
                <h4 class="modal-title popup-title" id="feature-title"></h4>
              </div>
              <div class="modal-body" id="feature-info"></div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </core-header-panel>
    </div>
    <script src="{{components}}/platform/platform.js"></script>
    <link rel="import" href="{{components}}/core-toolbar/core-toolbar.html">
    <link rel="import" href="{{components}}/core-header-panel/core-header-panel.html">
    <link rel="import" href="{{components}}/core-icons/core-icons.html">
    <link rel="import" href="{{components}}/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="{{components}}/paper-toggle-button/paper-toggle-button.html" />
    <link rel="import" href="{{components}}/paper-radio-group/paper-radio-group.html" />
